* {
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
    font-family: Montserrat, sans-serif;
}

header {
    text-align: center;
    padding: 16px;
    border: 2px solid gold;
}

.container {
    display: grid;
    gap: 4px;
    grid-template-rows: 15vh 55vh 15vh;
    
    min-height: 91vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

nav {
    border: 2px solid red;
    width: 100%;
    grid-row: 1;
}

nav ul {
    padding: 36px;
    margin: auto;
    list-style-type: none;
}

nav li {
    padding: 8px;
    font-size: 20px;
}

main {
    border: 2px solid blue;
    width: 100%;
    min-height: 50vh;
    grid-row: 2; 
}

main p {
    padding: 5vw;
}

aside {
    border: 2px solid rgb(130, 255, 130);
    width: 100%;
    grid-row: 3;
}

aside img, a {
    max-width: 260px;
}

footer {
    padding: 16px;
    border: 2px solid magenta;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .container {
        min-width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;

        /* Resets the grid */
        grid-template-rows: none;
    }
    
    nav {
        min-width: 10vw;
        grid-column: 1;
    }
    
    main {
        min-width: 55vw;
        grid-column: 2;
        grid-row: 1;
    }
    
    main p {
        padding: 1.5vw;
    }
    
    aside {
        min-width: 10vw;
        grid-column: 3;
        grid-row: 1;
    }
    
    aside img {
        width: 100%;
    }
}